<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Welcome</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="./static/application.css">
</head>

<body>
  <nav>
    <a href="/">
      <img alt="Logo" src="./static/home.png" height="30" width="30" />
    </a>
    <div>
      <img id="avatar" src="./static/null-person.png" height="30" width="30" />
    </div>
  </nav>

  <div class="container center-content mt-5">
    <div class="card limited-width">
      <h1 class="text-center" id="welcome-title">Welcome</h1>
      <div class="button-group">
        <button id="github_login" class="btn btn-primary github-login" type="button" onclick="loginWithGitHub()">Login
          with GitHub</button>
        <button class="btn btn-bluetooth" type="button" onclick="scanForBLEDevices()">Scan for BLE
          Devices</button>
      </div>
    </div>
  </div>

  <script>
    /*
    async function scanForBLEDevices() {
      if (!navigator.bluetooth) {
        alert('Web Bluetooth is not supported on this browser. Please use Google Chrome or Microsoft Edge.');
        return;
      }

      try {
        const device = await navigator.bluetooth.requestDevice({
          acceptAllDevices: true,
          optionalServices: []
        });

        const deviceName = device.name || "Unnamed Device";

        const githubLoginBtn = document.getElementById("github_login");
        const deviceFoundMsg = document.getElementById("deviceFound");

        if (deviceName === "BigEye") {
          githubLoginBtn.classList.remove("hidden");
          deviceFoundMsg.textContent = "Please, login with GitHub";
        } else {
          githubLoginBtn.classList.add("hidden");
          deviceFoundMsg.textContent = `${deviceName}: It seems you are not on campus yet`;
        }
      } catch (error) {
        console.error('Error:', error);
        alert('Error during BLE scan.');
      }
    }*/

    function loginWithGitHub() {
      const githubAuthUrl = "http://github.com/login/oauth/authorize";
      const clientId = "Ov23liNZY8YaiwGtjmrg";
      const redirectUri = "http://localhost:5000/callback";
      const scope = "read:user user:email";

      const authUrl = `${githubAuthUrl}?client_id=${clientId}&redirect_uri=${encodeURIComponent(redirectUri)}&scope=${encodeURIComponent(scope)}`;
      window.location.href = authUrl;
    }
  </script>
</body>

</html>