<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Thank You</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="./static/application.css">
</head>

<body>
  <nav>
    <a href="/">
      <img alt="Logo" src="./static/home.png" height="30" width="30" />
    </a>
    <div>
      <img id="avatar" src="./static/null-person.png" height="30" width="30" />
    </div>
  </nav>

  <div class="container center-content mt-5">
    <div class="card limited-width">
      <h1 class="text" id="thank-you-title">Thank You!</h1>
      <p id="email-display">We've logged you in with the email: <strong></strong></p>
      <p><a href="https://docs.google.com/spreadsheets/d/13NTXPuCsvwEQBecVAPWOvt-nOBl166hcLqcu5tjuZw0/edit?usp=sharing" target="_blank">You can check attendees here</a></p>

    </div>
  </div>

  <script>
    const params = new URLSearchParams(window.location.search);
    const user = params.get("user") || "Guest";
    const email = params.get("email") || "unknown@example.com";
    const avatar = params.get("avatar") || "static/null-person.png";

    document.getElementById("thank-you-title").textContent = `Thank You, ${user}!`;
    document.querySelector("#email-display strong").textContent = email;
    document.querySelector("#email-display strong").style.color = "#007bff";
    document.getElementById("avatar").src = avatar;
  </script>
</body>

</html>